<main>
    <app-header></app-header>
    <body>
        <section>
            <button [routerLink]="['/visualizarVM']">
                <img src="././assets/volte.png">
            </button>
            <h2>Cadastre uma nova VM</h2>
            <form (ngSubmit)="submit()" [formGroup]="registerForm" #formDir="ngForm">
                <fieldset>
                    <label>Nome</label>
                    <input class="input-login"
                        type="text"
                        name=""
                        required
                        placeholder="mv"
                        formControlName="campoDisplayName"
                        [(ngModel)]="vmData.displayName">
                </fieldset>
                <fieldset>
                    <label for="cpu-select">CPU</label>
                    <select id="cpu-select" 
                        required
                        formControlName="campoCPU"
                        [(ngModel)]="vmData.cpu">
                        <option selected disabled value="">Selecione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label id="memoria" for="memoria-select">Memória (RAM)</label>
                    <select id="memoria-select"
                        required
                        formControlName="campoMemory"
                        [(ngModel)]="vmData.memory">
                        <option selected disabled value="">Selecione</option>
                        <option value="512">512</option>
                        <option value="1024">1024</option>
                        <option value="2048">2048</option>
                    </select>
                </fieldset>
                <fieldset id="buttons-form-register">
                    <button
                        id="button-cancel"
                        type="submit"
                        onreset=""
                        [routerLink]="['/visualizarVM']">Cancelar
                    </button>
                    <button
                        id="button-register" 
                        type="submit"
                        onsubmit="">Cadastrar
                    </button> 
                </fieldset>
                
            </form>

        </section>
    </body>
</main>
