<header>
    <div id="logo-menu">
        <a [routerLink]="['/home']">
          <img src="././assets/logoVMControl.svg">  
        </a>
        <button>
            <img src="././assets/menu.png">
        </button>
    </div>
    <hr>
    <div id="block-links">
        <div id="links">
            <a [routerLink]="['/home']">Home</a>
            <a [routerLink]="['/visualizarVM']">Minhas VM's</a>
            <a [routerLink]="['/cadastrarVM']">Criar VM</a>
            <button (click)="expand()">Olá, {{userName}}</button>
        </div>
        <div id="logout" *ngIf="isOpen">
            <button (click)="logout()">Sair</button>
            <p>.</p>
        </div>
    </div> 
</header>
