<main  id="main-login">
    <body class="main">
      <div id="logo-top">
        <img id="logo-branca" src="././assets/logoMVControlAzul.svg">
        <hr>   
      </div>
      <div class="content">
        <h1>Login</h1>
        <form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm">
          <fieldset>
            <label>Email</label>
            <input 
              requerid
              class="input-login"
              type="e-mail" 
              name="email" 
              placeholder="xxxxxx@gmail.com"
              formControlName="campoEmail"
              pattern="^\w+([\.+-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              [(ngModel)]="userData.email">
            <div *ngIf="campoEmail.invalid && formDir.submitted">
              <span *ngIf="campoEmail.errors?.['required']">O Email é obrigatório para realização do Login!</span>
            </div>
          </fieldset>
          <fieldset>
            <label>Senha</label>
            <input 
              requerid 
              class="input-login" 
              type="password" 
              name="senha" 
              formControlName="campoSenha"
              [(ngModel)]="userData.senha">
            <div *ngIf="campoSenha.invalid && formDir.submitted">
              <span class="" *ngIf="campoSenha.errors?.['required']">A senha é obrigatório para realização do Login!</span>
            </div>
          </fieldset>
          <button 
            class="button-login"
            type="submit"
            onsubmit=""
            >Entrar</button>
        </form>
      </div>
    </body>
</main>
