<main  id="main-login">
    <body class="main">
      <div class="content">
        <h1>Login</h1>
        <form>
          <fieldset>
            <label>Email</label>
            <input class="input-login" type="e-mail" name="" placeholder="E-mail">
          </fieldset>
          <fieldset>
            <label>Senha</label>
            <input class="input-login" type="password" name="" placeholder="Senha">
          </fieldset>
          <button 
            class="button-login" type="submit" onsubmit=""
            [routerLink]="['/home']"
            >Entrar</button>
        </form>
      </div>
    </body>
</main>
