body{
    background-color: #FFFAEE;
    width: 100%;
    padding-top: 8rem;
    // height: 100vh;
}

#vm-key-info{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 2rem 10rem;
    align-items: center;
    /* colocar os margins */

    p{
        color: #5E5E5E;
    }

    #welcome{

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h1{
            color: #FF8A08;
            font-style: italic;
            font-weight: 600;
        }
        
        #num-vm{
            font-style: unset;
            font-weight: 700;
            padding: 0.75rem;
            color: #FFFFFF;
            background-color: #FF8A08;
            border-radius: 30px;
            text-align: center;
            font-size: 28px;
        }

    }

    #field-pie-chart{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 25rem;
        div{
            width: 40%;
            h1{
                color: #00BBFF;
                font-size: 28px;
            }
        }
        #canva-pie{
            width: 60%;
            canvas{
                display:none;
                width: none;
            }

        }

        // canvas{
        //     display:none;
        //     width: none;
        // }
    }

    #field-bar-chart{
        h2{
            font-size: 18px;
            padding: 0.5rem;
            background-color: #00BBFF;
            border-radius: 30px;
            color: #FFFFFF;
            text-align: center;
        }
    }


}

#platform-info{
    margin-top: 2rem;
    background: linear-gradient(to right, #0E46C9, #072263);
    padding: 5rem 10rem 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    color: #ffffff;
    flex-wrap: wrap;

    h2{
        font-size: 22px;
    }
    h4{
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        color: #FFC482;
    }

    #info-principal{
        width: 18rem;
        img{
            width: 14rem;
        }
        hr{
            margin: 0.5rem 0 1rem 0;
            height: 0.25rem;
            border:none;
            border-radius: 10px;
            background: linear-gradient(to right, #FF8A08, #FFB908);
        }
    }
    #info-secundaria{
        width: 35rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
    }

}

@media screen and (max-width: 1380px){
    #vm-key-info{
        margin: 2rem 8rem;
    }
    #platform-info{
        padding: 1rem 8rem 2rem 8rem;
    }
}
@media screen and (max-width: 1280px){
    #platform-info{
        flex-direction: column;
        align-items:flex-start;
        gap: 5rem;    
    
        #info-principal{
            width: 100%;
        }
        #info-secundaria{
            width: 100%;
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 920px){
    #vm-key-info{
        margin: 2rem 5rem;
    }
    #platform-info{
        padding: 1rem 5rem 2rem 5rem;
    }
}


@media screen and (max-width: 768px){
    #vm-key-info{
        margin: 2rem 4rem;
    }
    #platform-info{
        padding: 1rem 4rem 2rem 4rem;
    }
}