body{
    background-color: #FFFAEE;
    width: 100%;
    padding-top: 8rem;
    // height: 100vh;
}

#vm-key-info{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 2rem 10rem;
    align-items: center;
    /* colocar os margins */

    p{
        color: #5E5E5E;
    }

    #welcome{

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h1{
            color: #FF8A08;
            font-style: italic;
            font-weight: 600;
        }
        
        #num-vm{
            font-style: unset;
            font-weight: 700;
            padding: 0.75rem;
            color: #FFFFFF;
            background-color: #FF8A08;
            border-radius: 30px;
            text-align: center;
            font-size: 28px;
        }

    }

    #field-pie-chart{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 16rem;

        div{
            width: 10rem;

            h1{
                color: #00BBFF;
                font-size: 28px;
            }
        }

        #piechart{
            width: 0.01rem;
        }
    }

    #field-bar-chart{
        h2{
            font-size: 18px;
            padding: 0.5rem;
            background-color: #00BBFF;
            border-radius: 30px;
            color: #FFFFFF;
            text-align: center;
        }
    }


}

#platform-info{
    margin-top: 2rem;
    background: linear-gradient(to right, #0E46C9, #072263);
    padding: 1rem 10rem 2rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
    height: 50vh;

    h2{
        font-size: 22px;
    }
    h4{
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
    }

    p{
        font-size: 14px;
    }

}

@media screen and (max-width: 1920px) and (min-width: 1280px){


}
@media screen and (max-width: 1280px) and (min-width: 768px){
    

}